.sidenav{
    grid-column: 1/3;
    height: 100vh;
    width: 100%;
    border-right: 0.05rem solid #5555553a;
}
.childcompoents{
    grid-column: 3/13;
    height: 100vh;
    width: 100%;
}
.topFixNav{
    height: 10vh;
    border-bottom: 0.05rem solid #5555553a;

}
.innerComps{
    height: 90vh;
}
.innerCompArea{
    height: 100%;
    border: 0.05rem solid #5555553a;
    border-radius: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}
.smallSVG{
    width: 2.8rem;
}
.menybar{
    margin-top: 1.6rem;
}
.linkNames{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-mustdo);
}

.date{
    font-size: 1.6rem;
}

.MiniNavBar{
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    border-top: 0.01rem solid var(--color-mustdo);
    display: none;
}