.smartHead{
    font-size: 1.6rem;
    font-weight: 600;
}
.smarttable{
    overflow: scroll;
    overflow-x: hidden;
    height: 60vh;
}

.suggestions{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000087;
}
.sugg{
    background-color: var(--color-white);
    width: 60%;
    border-radius: 1rem;
}
.sugghead{
    font-size: 1.4rem;
    font-weight: 600;
}
.desist{
    font-size: 1.2rem;
    line-height: 1.5;
}